 # Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Uploads
uploads/
*.jpg
*.jpeg
*.png
*.gif

# Test files
test-*.ps1
*.http

# firebase config
majdoor-aa733-firebase-adminsdk-fbsvc-af716dcd7d.json
